.swiperWrapper {
    width: 107%;
}

@media screen and (max-width: 1000px) {
    .swiperWrapper {
        width: 110%;
    }
}

@media screen and (max-width: 350px) {
    .swiperWrapper {
        width: 100%;
    }
}