* {
    font-family: 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 65%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    background: #0F1624;
    color: hsl(204,23.8%,95.9%);
    cursor: default;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}