.projectsWrapper {
    padding: 10px 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 3rem;
}

.filter {
    font-size: 25px;
    font-weight: normal;
    color: #878B91;
    /*color: #C04CFD;*/
    margin-bottom: 20px;
}

.selected {
    color: #C04CFD;
    text-decoration: underline;
    transition: .5s ease;
}

.selected:hover {
    color: #c573ff;
}

.unselected {
    transition: .5s ease;
}

.unselected:hover {
    text-decoration: underline;
    color: white;
}

@media screen and (max-width: 965px) {
    .projectsWrapper {
        display: flex;
        flex-direction: column;
        padding: 2rem 0 20px;
    }
}
