.wrapper {
    margin: 45px auto;
    padding: 0 48px;
    display: grid;
    flex-direction: row;
    max-width: 1040px;
    overflow: hidden;
    position: relative;
}

.overrideWrapper {
    margin: 45px auto;
    padding: 0 48px;
    display: grid;
    flex-direction: row;
    max-width: 1040px;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 5;
}

.title {
    font-weight: 800;
    font-size: 65px;
    line-height: 72px;
    width: max-content;
    max-width: 100%;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    padding: 0;
}

.subtitle {
    font-size: 25px;
    font-weight: normal;
    color: #C04CFD;
    font-family: "Helvetica Neue", sans-serif;
    margin-bottom: 20px;
}

.text {
    max-width: 800px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
    padding-bottom: 2.5rem;
    color: #878B91;
}

.emphasizedText {
    color: #a8adb4;
    font-weight: 500;
}

.divider {
    width: 33.3%;
    height: 6px;
    border-radius: 10px;
    background: white linear-gradient(270deg, #00CCFF 0%, #C04CFD 100%);
    margin: 75px 0 20px;
    grid-area: 2 / 1 / 3 / 3;
}

@media screen and (max-width: 400px) {
    .wrapper {
        padding: 0 24px;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        margin: 20px auto;
    }
    .subtitle {
        text-align: center;
    }
}